@media (min-width: 480px) {
	.Help .container {
		overflow-x: hidden;
		padding-left: 0;
		padding-right: 0;
		width: 480px;
	}
}

.Help {
	margin-top: 52px;

	h3 {
		background-color: #2AC4CF;
		color: #022B36;
		display: inline-block;
		padding: 5px 10px;
	}

	a {
		text-decoration: underline;
		color: white;							
	}
}
