@media (min-width: 720px) {
	.FeedCard .container {
		overflow-x: hidden;
		padding-left: 0;
		padding-right: 0;
		width: 720px;
	}

	// .md-dialog-text, .md-dialog-image {
	// 	width: 720px;
	// }
}

@media (min-width: 480px) {
	.md-dialog-text {
		padding: 30px 50px 30px 30px;
	}
}

.FeedSelect {
	display: none;
}

.GridContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.GridItem {
	margin-right: 2px;
	margin-bottom: 2px;
}

.mbsc-fr-btn-w:first-of-type {
	position: absolute;
	left: 0;
}

.md-dialog-text {
	overflow-y: scroll !important;
}

.ImageFeedPane {
	pointer-events: auto;

	.slide-pane__close, .slide-pane__content {
		// a {
		// 	color: #ff8400;
		// }

		// color: white;
		// background: #1c1c1c;
		// font-weight: 300;

		a {
			color: blue;
		}

		color: black;
		background: white;

		box-sizing: border-box;
	}

	.slide-pane__header, .slide-pane__content {
		border: 1px solid #333333;
		box-sizing: border-box;
	}

	.slide-pane__header {
		background: black;
		color: white;
	}

	.slide-pane__close {
		background: black;
		color: white;
		transform: scaleX(-1);
		cursor: pointer;
	}

	.slide-pane__content {
		margin-bottom: 30px;
	}
}

.TextFeedPane {
	pointer-events: auto;

	h3 {
		-webkit-margin-before: 0;
	}

	.slide-pane__close, .slide-pane__content {
		// a {
		// 	color: #ff8400;
		// }

		// color: white;
		// background: #1c1c1c;
		// font-weight: 300;

		a {
			color: blue;
		}

		color: black;
		background: white;

		box-sizing: border-box;
	}

	.slide-pane__header, .slide-pane__content {
		border: 1px solid #333333;
		box-sizing: border-box;
	}

	.slide-pane__close {
		background: black;
		color: white;
		cursor: pointer;
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.slide-pane__header {
		background: black;
		color: white;
		display: block;
		flex: unset;
		height: auto;
		overflow: visible;
		position: relative;
	}

	.slide-pane__title-wrapper {
		display: inline-block;
		float: right;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-right: 30px;
		width: 78%;
	}

	.slide-pane__content {
		margin-bottom: 50px;
		word-wrap: break-word;
	}
}

.FeedPaneOverlay {
	background-color: unset !important;
	bottom: -52px;
	pointer-events: none;
	top: 52px;
}

.PanePost {
	border: 1px solid black;
	margin-bottom: 25px;
}

.PanePostImage {
	cursor: pointer;
	width: 100%;
}

.PanePostTitle {
	background: black;
	border-top: 1px solid white;
	color: white;
	cursor: pointer;
	padding: 25px;
	text-align: center;
}
