@media (min-width: 480px) {
	.FeedCard .container {
		overflow-x: hidden;
		padding-left: 0;
		padding-right: 0;
		width: 480px;
	}
}

.FeedSelect {
	display: none;
}

.GridContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.GridItem {
	margin-right: 2px;
	margin-bottom: 2px;
}

.mbsc-fr-btn-w:first-of-type {
	position: absolute;
	left: 0;
}

.md-dialog-text {
	overflow-y: scroll !important;
}
