.MainStack {
	position: relative;
	top: 50px;

	.Worldview {
		height: 100vh;
		overflow-y: hidden;
	}

	.Model {
		height: 100vh;
		overflow-y: hidden;
	}

	.Propositional {
		height: 100vh;
		overflow-y: hidden;
	}

	.Conceptual {
		height: 100vh;
		overflow-y: hidden;
	}

	.Narrative {
		height: 100vh;
		overflow-y: hidden;
	}
}
