// LeagueGothic
@font-face {
    font-family: 'LeagueGothic';
    src: url(./fonts/LeagueGothic-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothic';
    src: url(./fonts/LeagueGothic-Italic.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}

// LeagueGothic Condensed
@font-face {
    font-family: 'LeagueGothicCondensed';
    src: url(./fonts/LeagueGothic-CondensedRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothicCondensed';
    src: url(./fonts/LeagueGothic-CondensedItalic.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}

// LeagueGothic Thin
@font-face {
    font-family: 'LeagueGothicThin';
    src: url(./fonts/LeagueGothic-RegularThin.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

// LeagueGothic Thinner
@font-face {
    font-family: 'LeagueGothicThinner';
    src: url(./fonts/LeagueGothic-RegularThinner.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
