.CardText {
	background-color: #839BA1;
	color: #073642;
	overflow-wrap: break-word;
	overflow: hidden;
	padding: 30px;

	.FirstParagraph {
		font-family: LeagueGothic;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 1px;
		line-height: 1.2;
	}

	.ActiveParagraph {
		background-color: yellow;
		padding: 10px;
	}

	a {
		color: blue
	}
}