.CardText {
	background-color: white;
	color: black;
	overflow-wrap: break-word;
	padding-top: 52px;

	.FirstCardParagraph {
		font-family: LeagueGothic;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 1px;
		line-height: 1.2;
	}

	#ActiveCardParagraph {
		background-color: yellow;
		padding: 10px;
	}

	a {
		color: blue
	}

	#CardParagraphs {
		padding: 30px;
	}
}