.MainStackOverlay {
	height: 100%;
	pointer-events: none;
	position: fixed;
	width: 100%;
	z-index: 50;

	.science-structure {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		cursor: pointer;
		pointer-events: auto;
	}

	.WorldviewBadge {
		position: relative;
	}

	.ModelBadge {
		position: relative;
	}

	.PropositionalBadge {
		position: relative;
	}

	.ConceptualBadge {
		position: relative;
	}

	.NarrativeBadge {
		position: relative;
	}

	.Badges {
		position: relative;
		top: -202px;
		left: 108px;
	}
}
