.Card {
	height: 100vh;
	overflow-y: hidden;

	// This places the container at the top of the page on mobile
	.openseadragon-container {
		// top: -70px !important;
	}
}

@media (min-width: 480px) {
	.openseadragon-container {
		top: -25px !important;
	}
}