.spinning.glyphicon {
	animation: spin 1s infinite linear;
	margin-right: 7px;
	top: 2px;
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg); }
	to { transform: scale(1) rotate(360deg); }
}
