.CategorySearchResult {
	margin-left: 0;

	.Hashtag {
		display: block;
		padding: 0 !important;
	}

	.HashtagIcon {
		cursor: pointer;
		display: inline;
		width: 27px;
	}

	.HashtagText {
		cursor: pointer;
		margin-left: 5px;
		position: relative;
		top: 2px;
	}
}
