.ais-Pagination__root {
	a {
		color: white;
	}

	background-color: #073642;
	border: none;
	border-radius: 0;
	display: block;
	font-family: "LeagueGothic";
	margin-bottom: 0;
	margin-top: 20px;
	padding-bottom: 16px;
	padding-top: 16px;
	text-align: center;
}

.ais-SearchBox__wrapper {
	position: relative;
	top: 25px;
}

@media (min-width: 480px) {
	.Home .container {
		overflow-x: hidden;
		padding-left: 0;
		padding-right: 0;
		width: 480px;
	}
}

.FacetSelect {
	display: none;
}

// .mbsc-fr-w {
// 	width: 300px;
// }

.mbsc-img-txt {
	text-align: center;
	font-size: .75em;	
}

// Fixes a mobiscroll display bug
.mbsc-sc-whl-sc {
	width: 300px !important;
}

.CategoryLabel {
	color: #697782;
	font-size: 14px;
	opacity: 0.6;
	font-stretch: normal;
	text-align: center;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

.infinite-scroll-component {
	overflow-x: hidden !important;
}

.Home {
	margin-bottom: 50px;
}

.ais-SearchBox__root {
	margin-bottom: 40px !important;
}

.Home #hits #hits .container {
	margin-top: 20px;
}
