@media (min-width: 480px) {
	.Contact .container {
		overflow-x: hidden;
		padding-left: 0;
		padding-right: 0;
		width: 480px;
	}
}

.Contact {
	margin-top: 52px;

	.mbsc-ms {
		padding-left: 20px;
		padding-right: 20px;
	}

	.mbsc-btn-group-block {
		background: #022B35;
	}

	a {
		text-decoration: underline;
		color: #FD8324;							
	}

	.SlashdotStoryImage {
		margin-top: 15px;
	}

	.YoutubeVideo {
		display: block;
		margin: 0 auto;
	}

	.CmapButton {
		background-color: black;
		border: 3px solid black;
		border-radius: 10px;
		color: white;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.CmapButton:active, .CmapButton:hover {
		background-color: white;
		border: 3px solid black;
		color: black;
	}
}
