/*body {
	background-color: black;
}*/

.App {
	overflow: hidden;
}

@media (min-width: 480px) {
	.container {
		overflow-x: hidden;
		padding-left: 0;
		padding-right: 0;
		width: 480px;
	}
}

.notification-bar {
	background: #ff0000 !important;
	z-index: 1000;
}

.notification-bar-wrapper {
	font-size: 14px;
}
