.ais-InstantSearch__root .hit {
	margin-top: 20px;

	.hit-image img {
		width: 100%;
	}

	.hit-image {
		padding-right: 0;
	}

	mark, .mark {
		background-color: rgba(256, 256, 0, 0.8);
		padding: .1em;
	}
}

.ais-InstantSearch__root .container {
	overflow: hidden !important;
}

.ais-SearchBox__root {
	display: block;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	max-width: 228px;
}

.hit-level {
	height: 25px;
	margin-bottom: 5px;
	margin-top: 5px;

	&.Right {
		position: relative;
		right: 4px;
	}
}

.LeftQuote, .RightQuote {
	width: 50px;
}

.RightQuote {
	transform: scale(-1, -1);
}
