.CardStack {
	.Worldview {
		height: 100vh;
		overflow-y: hidden;

		.footnotes-line {
			margin: 20px 0;
		}

		.prev-next {
		    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			cursor: pointer;
			opacity: 0.6;
			position: fixed;
			z-index: 100;

			&:hover {
				opacity: 0.8;
			}
		}

		.prev {
			left: 1.2vw;
		}

		.next {
			right: 1.2vw;
		}
	}

	.Model {
		height: 100vh;
		overflow-y: hidden;
	}

	.Propositional {
		height: 100vh;
		overflow-y: hidden;
	}

	.Conceptual {
		height: 100vh;
		overflow-y: hidden;
	}

	.Narrative {
		height: 100vh;
		overflow-y: hidden;
	}
}
